h1.page-title えんだーまんの家
p endaamanの実験場兼ブログ
h2 Contents
ul
    li
        h3
            a(href="/memo") memo
        p ブログ的なやつ

h2 Accounts
ul
    li
        a(href="https://github.com/endaaman" target="_blank") Github
    li
        a(href="https://twitter.com/endaaman" target="_blank") Twitter
    li
        a(href="https://twitch.tv/endaaman" target="_blank") Twitch

div(v-if="active")
    h2 Managements
    ul
        li
            a(href="/file") ファイル
