h1.page-title えんだーまんの家

p トップに配置すべきコンテンツがない。

ul.list-inline
    li
        button.btn.btn-red(v-on="click: toast()") 見るからに危険そうなボタン1
    li
        button.btn.btn-red(v-on="click: loading()") 見るからに危険そうなボタン2
