$footerHeight: 32px;

.footer {
  background-color: #1B2B34;
  color: #C0C5CE;
  position: absolute;
  bottom: 0;
  padding-right: 8px;
  width: 100%;
  height: $footerHeight;
}

.footerShadow {
  width: 100%;
  height: $footerHeight;
}

.rightItem, .leftItem {
  line-height: $footerHeight;
  font-size: 14px;
}

.rightItem {
  margin-right: 8px;
  float: right;
  text-align: right;
  font-style: italic;
}

.leftItem {
  margin-left: 8px;
  a {
    color: inherit;
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    float: left;
    margin-right: 16px;
  }
}
