/*@import "highlight.js/styles/vs.css"*/

:global {
  @import "./variables.css";

  * {
    box-sizing: border-box;
    &:before, &:after {
      box-sizing: border-box;
    }
  }

  html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
  }

  body {
    /*font-family: Ubuntu, 'Helvetica Neue', "Hiragino Kaku Gothic ProN", Meiryo, Arial, sans-serif;*/
    @mixin sans-serif;

    color: #111;
    background-color: #D6DBD2;
    font-size: 14px;
  }

  #app {
    position: relative;
    min-height: 100%;
  }

  input,
  button,
  select,
  textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
}
