.header {
  margin: 0;
  padding: 20px 0 12px;
  /* background-color: #BBC7A4; */
  background-color: #C0C5CE;

}

.title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 6px;
  font-size: 32px;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.digest {
  font-size: 14px;
  color: #666;
  text-align: center;
}

.date {
  margin-top: 7px;
  font-size: 14px;
  text-align: center;
}

.content {
  color: #222;

  h2, h3, h4 h5 h6 {
    color: #000;
    font-weight: bold;
  }

  h2 {
    margin: 21px 0 14px;
    font-size: 20px;
  }

  h3 {
    margin: 7px 0;
    font-size: 14px;
  }

  h4 h5 h6  {
    font-weight: normal;
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }

  a {
    color: #8EB1C7;
  }

  li {
    font-size: 14px;
    line-height: 20px;
  }

  :not(pre) > code {
    padding: 2px 4px;
    color: #000;
    background-color: #C0C5CE;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
  }

  blockquote {
    border-left: 6px solid #7FB685;
    margin: 1.5em 10px 1.5em 0;
    padding: 0.5em 10px;
  }

  table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    margin-bottom: 8px;

    thead {
      tr {
        border-bottom: solid 1px #111;
      }
    }

    td, th {
      padding: 6px 8px;
      white-space: nowrap;
    }

    th {
        word-break: keep-all;
        text-align: center;
    }

    tr {
      word-break: normal;
      border-bottom: solid 1px #333;
    }
  }

  .well {
    padding: 2px 4px;
    background-color: #BBC7A4
  }
}
