.content(v-view="content")
.sidebar(v-class="'sidebar-open': open")
    .sidebar-toggler.shown-xs
        button.unstyled(v-on="click: sidebarToggle()" )
            i.fa.fa-bars(v-class="'fa-times': open, 'fa-bars': !open")
                
    .sidebar-icon
        a.icon-overlay(href="/") endaaman
        img(src=require("../../assets/endaaman.png"))

    hr

    .sidebar-items
        
        .sidebar-item
            a.sidebar-link(href="/") home
            
        .sidebar-item
            a.sidebar-link(href="/memo") memo

        .sidebar-item(v-if="!active")
            a.sidebar-link(href="/login") login
            
        .sidebar-item(v-if="active")
            a.sidebar-link(href="/logout") logout

    .sidebar-footer
        | Source of this site is on&nbsp;
        a.sidebar-link(href="https://github.com/endaaman/enda" target="_blank") client
        | ,&nbsp;
        a.sidebar-link(href="https://github.com/endaaman/enda-api" target="_blank") api
