p(v-show="!memo") よみこみちう

article.memo-show
    header(v-if="memo")
        h1.memo-title {{memo.title}}
        div(v-if="active")
            a(href="/memo/{{memo.title}}/edit") へんしゅう
        .memo-date created at: {{ memo.created_at | date }}
        .memo-date updated at: {{ memo.updated_at | date }}
    
    #memoContent.memo-content(v-el="content")
