p(v-show="!memo") よみこみちう

article.memo-show(v-if="memo")
    header
        h1.memo-title {{memo.title}}
        div
            a(href="/memo/{{$context.params.title}}/edit") へんしゅう
        .memo-date created at: {{ memo.created_at | date 'YYYY MM/DD hh:mm:ss' }}
        .memo-date updated at: {{ memo.updated_at | date 'YYYY MM/DD hh:mm:ss' }}
    
    .memo-content(v-html="compiledContent")
