h1.page-title あばうと

h2 About this website
p 
    | 本ウェッブサイトはえんだのSPA（Single Page Application）作成の練習用ページです。
    | バックエンドに
    a(href="http://koajs.com/" target="_blank") koa
    | 、実際にブラウザ上で動作するクライアントに
    a(href="http://vuejs.org/" target="_blank") Vue
    | を使用しています。
    
p 
    | ソースコードはそれぞれ
    ul
        li
            a(href="https://github.com/endaaman/enda" target="_blank") github.com/endaaman/enda
        li
            a(href="https://github.com/endaaman/enda-api" target="_blank") github.com/endaaman/enda-api

    | に公開しています。
    
    
h2 Accounts
ul
    li Github: #[a(href="https://github.com/endaaman") @endaaman]
    li Twitter: #[a(href="https://twitter.com/endaaman") @endaaman]
