button.unstyled
    +button-unstyled

ul.list-inline
    +clearfix
    margin-left: 0
    padding: 0
    list-style: none
    li
        margin-left: 8px
        float: left
    li:first-child
        margin-left: 0
