.sidebar
    .sidebar-toggler.shown-xs
        button.unstyled(v-on="click: sidebarToggle()" )
            i.fa.fa-bars(v-el="togglerIcon")
                
    .sidebar-icon
        a.icon-overlay(href="/") endaaman
        img(src=require("../../assets/endaaman.png"))

    hr

    .sidebar-items
        
        .sidebar-item
            a.sidebar-link(href="/") home
            
        .sidebar-item
            a.sidebar-link(href="/memo") memo
            
        .sidebar-item(v-if="!active")
            a.sidebar-link(href="/login") login
            
        .sidebar-item(v-if="active")
            a.sidebar-link(href="/logout") logout

    .sidebar-footer
        | Source of this site is on 
        a.sidebar-link(href="https://github.com/endaaman/enda" target="_blank") client
        | , 
        a.sidebar-link(href="https://github.com/endaaman/enda-api" target="_blank") api
